

// variables with colors

$bg-color-principal: #f8f4e8;
$bg-color-secundario: #90b0a1;
$bg-color-a: #efe0b2;
$bg-color-hover-a: #fdf3a4;
$bg-color-button: #2c29299b;

/////////////////////////////

//mixin

@mixin tamanos($ancho, $alto){
    width: $ancho;
    height: $alto;
}

///////////////////////

//config generales

body{
    background-color: $bg-color-principal;
    cursor: default;
}

*{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

a{
    text-decoration: none;
    
}

//////////////////////////////////////////////////////////

// index/bienvenida

.ver-cart{
    cursor: pointer;
}

.ctn-bienvenida{
    height: 400px;
    text-align: center;
    justify-content: center;
    h1{
        text-align: center;
        margin-top: 25px;
        font-size: 3rem;
    }
    button{
        @include tamanos(120px, 40px);
        background-color: $bg-color-button;
        a{
            text-align: center;
            font-size: 18px;
            width: 20px;
            color: $bg-color-a;
            font-weight: 400;
            &:hover{
                color: $bg-color-hover-a;
            }
        }
    }   
}

//////////////////////////////////////////////////////////

//main catalogo

.ctn-articles{
    justify-content: space-evenly;
    align-items: center;
    text-align: center;
    .ctn-sillas-padre{
        position: relative;
        cursor: pointer;
        overflow: hidden;
        &::before{
            content: "SILLAS";
            position: absolute;
            top: 0;
            bottom: 0;
            left: 0;
            right: 0;
            background-color: #ffffffb2;
            transform: scale(0);
            transition: transform .6s;
            color: #000;
            display: flex;
            align-items: center;
            justify-content: center;
            font-size: 1.5rem;
        }
        &:hover::before{
            transform: scale(1) rotate(360deg);
        }
        background-image: url(../img/imgSillaCatalogo.jpg);
        background-position: center;
        background-repeat: no-repeat;
        font-size: 2rem;
        @include tamanos(400px, 400px);
        border-radius: 15px;
        border: 1px solid #000000b3;
        margin-bottom: 20px;
        .ctn-sillas{
            position: relative;
            top: 178px;
            a{
                color: transparent;
            }
        }
    }
    .ctn-sillones-padre{
        position: relative;
        cursor: pointer;
        overflow: hidden;
        &::before{
            content: "SILLONES";
            position: absolute;
            top: 0;
            bottom: 0;
            left: 0;
            right: 0;
            background-color: #ffffffb2;
            transform: scale(0);
            transition: transform .6s;
            color: #000;
            display: flex;
            align-items: center;
            justify-content: center;
            font-size: 1.5rem;
        }
        &:hover::before{
            transform: scale(1) rotate(360deg);
        }
        background-image: url(../img/imgSillonCatalogo.jpg);
        background-position: center;
        background-repeat: no-repeat;
        font-size: 2rem;
        @include tamanos(400px, 400px);
        border-radius: 15px;
        border: 1px solid #000000b3;
        margin-bottom: 20px;
        .ctn-sillones{
            position: relative;
            top: 178px;
            a{
                color: transparent;
            }
        }
    }
    .ctn-mesas-padre{
        position: relative;
        cursor: pointer;
        overflow: hidden;
        &::before{
            content: "MESAS";
            position: absolute;
            top: 0;
            bottom: 0;
            left: 0;
            right: 0;
            background-color: #ffffffb2;
            transform: scale(0);
            transition: transform .6s;
            color: #000;
            display: flex;
            align-items: center;
            justify-content: center;
            font-size: 1.5rem;
        }
        &:hover::before{
            transform: scale(1) rotate(360deg);
        }
        background-image: url(../img/mesaRedondaLaqueada.jpg);
        background-position: center;
        background-repeat: no-repeat;
        font-size: 2rem;
        @include tamanos(400px, 400px);
        border-radius: 15px;
        border: 1px solid #000000b3;
        margin-bottom: 20px;
        .ctn-mesas{
            position: relative;
            top: 178px;
            a{
                color: transparent;
            }
        }
    }
}

//////////////////////////////////////////////////////////

// main sillas/sillones/mesas

.card{
    justify-content: center;
    position: relative;
    width: 350px;
    margin: 20px;
    height: 400px;
    background: transparent;
    border: none;
    &:hover .front{
        transform: perspective(600px) rotateY(180deg);
    }
    &:hover .back{
        transform: perspective(600px) rotateY(360deg);
    }
    .face{
        position: absolute;
        width: 100%;
        height: 100%;
        backface-visibility: hidden;
        border-radius: 10px;
        overflow: hidden;
        transition: .5s;
    }
    .front{
        transform: perspective(600px) rotateY(0deg);
        box-shadow: 0 5px 10px #000;
        img{
            position: absolute;
            width: 100%;
            height: 100%;
            object-fit: cover;
        }
        h3{
            position: absolute;
            bottom: 0;
            width: 100%;
            height: 45px;
            line-height: 45px;
            color: #fff;
            background: rgba(0,0,0,.4);
            text-align: center;
        }
    }
    .back{
        transform: perspective(600px) rotateY(180deg);
        background: $bg-color-secundario;
        box-shadow: 0 5px 10px #000;
        padding: 15px;
        color: #f3f3f3;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        text-align: center;
        h3{
            font-size: 30px;
            margin-top: 20px;
            letter-spacing: 2px;
        }
        p{
            letter-spacing: 1px;
        }
        .link{
            background: $bg-color-button;
            border: none;
            height: 50px;
            line-height: 50px;
            a{
                color: #f3f3f3;
                &:hover{
                    color: #2498db;
                }
            }
        }
    }
}

////// footer

footer{
    padding: 50px 0;
    .ctn-footer{
        justify-content: center;
        text-align: center;
        max-width: 1200px;
        margin: auto;
        margin-top: 100px;
        .cont-footer{
            display: flex;
            flex-direction: column;
            padding: 40px;
            h3{
                margin-bottom: 30px;
                font-weight: 600;
            }
            a{
                margin-top: 10px;
                font-weight: 600;
                color: #000;
            }
            .fa-brands{
                margin-right: 5px;
                font-size: 17px;
            }
            a:hover{
                opacity: 0.8;
                color: rgb(125, 163, 216);
            }
        }
    }
    .cont-copy{
        text-align: center;
        align-items: center;
        border-top: 0.1px solid #000;
        margin-top: 10px;
    }
}
    
///////////////////////////////////


//////////////////////////////////
// carrito 


.ctn-modal{
    width: 80%;
    margin: 0 10%;
    max-height: 88vh;
    background-color: #121212;
    color: #fff;
    display: flex;
    flex-direction: column;
    align-items: center;
    position: fixed;
    overflow: auto;
    z-index: 9;
    top: 12vh;
    scrollbar-color: none;

    &::-webkit-scrollbar{
        display: none;
    }

    .modal-header{
        display: flex;
        justify-content: space-around;
        background-color: #0a0909;
        color: #fff;
        width: 100%;
        .modal-header-title{
            justify-self: start;
        }
    }
    .modal-header-button{
        cursor: pointer;
    }
}

.ctn-modal > .modal-ctn{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    width: 70%;
    margin: 10px;
}

.ctn-total{
    font-size: 25px;
    padding: 20px;
    text-align: center;
    padding-top: 20px;
}

.delete-product{
    cursor: pointer;
}
